 <!-- Home slider -->
 <div class="swiper-container" id="home-slider">
  <div class="swiper-wrapper">
      <!-- <owl-carousel
      [options]="{items: 3, dots: false, navigation: false}" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let image of images;let i = index">
          <div class="thumbnail-image" [ngStyle]="{'background': 'url('assets/img/slider/1.jpeg')no-repeat scroll center center / 80px 80px'}"></div>
      </div>
  </owl-carousel> -->
     <!-- <div class="swiper-slide" data-cover="assets/img/slider/1.jpg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="460px">
        <div class="swiper-overlay right">
           <div class="text-center">
              <p class="display-4 animated" data-animate="fadeDown">Best Product<br/>With Best Price</p>
              <a href="shop-grid.html" class="btn btn-primary rounded-pill animated" data-animate="fadeUp" data-addclass-on-xs="btn-sm">SHOP NOW</a>
           </div>
        </div>
     </div> -->
     <!-- <div class="swiper-slide" data-cover="assets/img/slider/2.jpg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="460px">
        <div class="swiper-overlay left">
           <div class="text-center">
              <h1 class="bg-white text-dark d-inline-block p-1 animated" data-animate="fadeDown">Best of Daily Needs</h1>
              <p class="display-4 animated" data-animate="fadeDown">Upto 40% OFF</p>
              <a href="shop-grid.html" class="btn btn-warning rounded-pill animated" data-animate="fadeUp" data-addclass-on-xs="btn-sm">SHOP NOW</a>
           </div>
        </div>
     </div>
     <div class="swiper-slide" data-cover="assets/img/slider/3.jpeg" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-xl-height="460px">
        <div class="swiper-overlay right">
           <div class="text-center">
              <h1 class="bg-white text-dark d-inline-block p-1 animated" data-animate="fadeDown">TOP BRANDS</h1>
              <p class="display-4 animated" data-animate="fadeDown">30% - 70% OFF</p>
              <a href="shop-grid.html" class="btn btn-primary rounded-pill animated" data-animate="fadeUp" data-addclass-on-xs="btn-sm">SHOP NOW</a>
           </div>
        </div>
     </div> -->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev autohide"><i data-feather="chevron-left"></i></div>
  <div class="swiper-button-next autohide"><i data-feather="chevron-right"></i></div>
</div>
<!-- /Home slider -->
<div class="container mt-3">
  <!-- Flash deals -->
  <!-- /Flash deals -->
  <!-- Discover -->
  <h4 class="bold text-center mt-gutter">Featured Products</h4>
  <div class="row categories-grid gutters-3 mt-gutter">
     <div class="col-sm-6 col-md-4">
        <a href="shop-grid.html">
           <div class="card zoom-hover">
              <div data-cover="assets/img/discover/1.jpg" data-xs-height="150px" data-sm-height="272px" data-md-height="246px" data-lg-height="324px" data-xl-height="400px"></div>
              <div class="card-img-overlay card-img-overlay-transparent">
                 <h2 class="card-title bold">Beverages</h2>
              </div>
           </div>
        </a>
     </div>
     <div class="col-sm-6 col-md-4">
        <div class="row gutters-3">
           <div class="col-6 col-sm-12 mt-3 mt-sm-0">
              <a href="shop-grid.html">
                 <div class="card zoom-hover">
                    <div data-cover="assets/img/discover/2.jpg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                    <div class="card-img-overlay card-img-overlay-transparent">
                       <h3 class="card-title text-center">Bread, Bekary & Dairy</h3>
                    </div>
                 </div>
              </a>
           </div>
           <div class="col-6 col-sm-12 mt-3">
              <a href="shop-grid.html">
                 <div class="card zoom-hover">
                    <div data-cover="assets/img/discover/3.jpg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                    <div class="card-img-overlay card-img-overlay-transparent">
                       <h3 class="card-title text-center">Personal Care</h3>
                    </div>
                 </div>
              </a>
           </div>
        </div>
     </div>
     <div class="col-md-4">
        <div class="row gutters-3">
           <div class="col-6 col-md-12 mt-3 mt-md-0">
              <a href="shop-grid.html">
                 <div class="card zoom-hover">
                    <div data-cover="assets/img/discover/4.jpg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                    <div class="card-img-overlay card-img-overlay-transparent">
                       <h2 class="card-title text-center">Cleaners</h2>
                    </div>
                 </div>
              </a>
           </div>
           <div class="col-6 col-md-12 mt-3">
              <a href="shop-grid.html">
                 <div class="card zoom-hover">
                    <div data-cover="assets/img/discover/5.jpeg" data-xs-height="100px" data-sm-height="128px" data-md-height="115px" data-lg-height="154px" data-xl-height="192px"></div>
                    <div class="card-img-overlay card-img-overlay-transparent">
                       <h2 class="card-title text-center">Pooja Needs</h2>
                    </div>
                 </div>
              </a>
           </div>
        </div>
     </div>
     <a href="shop-grid.html" class="btn btn btn-light shadow-sm sa-btn">Discover <i data-feather="arrow-right"></i></a>
  </div>

  <!-- Food & Beverages Products -->
  <h4 class="bold text-center mt-gutter">Food & Beverages</h4>
  <div class="card-deck card-deck-product mt-3 mb-2 mb-sm-0">
     <div class="col-md-3 card card-product" *ngFor="let foodBeverage of foodandBeverages">
        <div class="card-body">
           <button class="wishlist atw-demo active" title="Added to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a (click)="gotoDetails()"><img class="card-img-top" src="assets/img/products/1_small.jpg" alt="Card image cap"></a>
           <span class="del">{{foodBeverage.brand.name}}</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 4</span>
           <a (click)="gotoDetails()" class="card-title">{{foodBeverage.name}}</a>
           <span class="badge badge-success">500 gm Pouch</span>
           <div class="quantity">
            <select class="form-control" >
               <option *ngFor="let specification of foodBeverage.specification">
                 {{specification.specification}} - RS {{specification.selling_price}}
               </option>
            </select>
         </div>
           <div class="price">
           
              <span class="h5 del">Rs {{foodBeverage.specification[0].base_price}}</span>
              <span class="h5">Rs {{foodBeverage.specification[0].selling_price}}</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo" (click)="gotoCartPage()">Add to Cart</button>
        </div>
     </div>
     <!-- <div class="col-md-3 card card-product">
        <div class="card-body">
           <button class="wishlist atw-demo" title="Add to wishlist"><i data-feather="heart"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/2_small.jpg" alt="Card image cap"></a>
           <span class="del">Safal</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 3.5</span>
           <a href="shop-single.html" class="card-title">Green Peas - Select</a>
           <span class="badge badge-success">5 kg Pouch</span>
           <div class="price">
              <span class="h5">Rs 600</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div>
     <div class="col-md-3 card card-product">
        <div class="card-body">
           <button class="wishlist atw-demo" title="Add to wishlist"><i data-feather="heart"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/3_small.jpg" alt="Card image cap"></a>
           <span class="del">Bangur</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 3.2</span>
           <a href="shop-single.html" class="card-title">Frozen Natures Gold - Sweet Corn</a>
           <div class="quantity">
              <select class="form-control">
                 <option>200 gm- Rs 36</option>
                 <option>500 gm- Rs 63</option>
                 <option>1 kg- Rs 117</option>
              </select>
           </div>
           <div class="price">
              <span class="h5 del">Rs 40</span>
              <span class="h5">Rs 36</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div>
     <div class="col-md-3 card card-product">
        <div class="card-body">
           <button class="wishlist atw-demo" title="Add to wishlist"><i data-feather="heart"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/4_small.jpg" alt="Card image cap"></a>
           <span class="del">Sumeru</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 2.8</span>
           <a href="shop-single.html" class="card-title">Green Peas</a>
           <div class="quantity">
              <select class="form-control">
                 <option>500 gm- Rs 119</option>
                 <option>1 kg- Rs 228</option>
              </select>
           </div>
           <div class="price">
              <span class="h5">Rs 228</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div> -->
  </div>
  <!-- Food & Beverages Products -->

   <div class="text-center mt-3" *ngIf="foodandBeverages.length > 3">
     <a href="shop-grid.html" class="btn btn-light border rounded-pill bold text-muted">View More</a>
   </div>

  <!-- Household Products -->
  <h4 class="bold text-center mt-gutter">Household</h4>
  <div class="card-deck card-deck-product mt-3 mb-2 mb-sm-0">
     <div class="col-md-3 card card-product" *ngFor="let houseHold of houseHolds">
        <div class="card-body">
           <button class="wishlist atw-demo active" title="Added to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/5_small.jpg" alt="Card image cap"></a>
           <span class="del">Harpic</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 4.5</span>
           <a href="shop-single.html" class="card-title">Toilet Cleaner Original Power Plus 1 Ltr + Bathroom Cleaner Lemon 500 ml</a>
           <span class="badge badge-success">Combo 2 Items</span>
           <div class="price">
              <span class="h5 del">Rs 244</span>
              <span class="h5">Rs 213</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div>
     <!-- <div class="col-md-3 card card-product">
        <div class="card-body">
           <button class="wishlist atw-demo" title="Add to wishlist"><i data-feather="heart"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/6_small.jpg" alt="Card image cap"></a>
           <span class="del">Good knight</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 4</span>
           <a href="shop-single.html" class="card-title">Activ+ Twin Saver 45ml Pack of 2 + Revolutionary Fabric Roll On Repellent 8ml</a>
           <span class="badge badge-success">Combo 2 Items</span>
           <div class="price">
              <span class="h5 del">Rs 209</span>
              <span class="h5">Rs 195</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div>
     <div class="col-md-3 card card-product">
        <div class="card-body">
           <button class="wishlist atw-demo" title="Add to wishlist"><i data-feather="heart"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/7_small.jpg" alt="Card image cap"></a>
           <span class="del">Classmate</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 3.5</span>
           <a href="shop-single.html" class="card-title">Notebook - Six Subject, Ruled, Pulse</a>
           <div class="quantity">
              <select class="form-control">
                 <option>300 Pages- Rs 125</option>
                 <option>500 Pages- Rs 200</option>
              </select>
           </div>
           <div class="price">
              <span class="h5 del">Rs 145</span>
              <span class="h5">Rs 125</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div>
     <div class="col-md-3 card card-product">
        <div class="card-body">
           <button class="wishlist atw-demo" title="Add to wishlist"><i data-feather="heart"></i></button>
           <button class="quickview quickview-demo" title="Quick view"><i data-feather="zoom-in"></i></button>
           <a href="shop-single.html"><img class="card-img-top" src="assets/img/products/8_small.jpg" alt="Card image cap"></a>
           <span class="del">Cycle</span>
           <span class="badge badge-warning"><i data-feather="star"></i> 3</span>
           <a href="shop-single.html" class="card-title">Agarbathi Lia - Jasmine Incenses Sticks</a>
           <div class="quantity">
              <select class="form-control">
                 <option>122 gm- Rs 50</option>
                 <option>258 gm- Rs 100</option>
              </select>
           </div>
           <div class="price">
              <span class="h5 del">Rs 60</span>
              <span class="h5">Rs 50</span>
           </div>
        </div>
        <div class="card-footer">
           <button class="btn btn-sm rounded-pill btn-outline-primary btn-block atc-demo">Add to Cart</button>
        </div>
     </div> -->
  </div>
  <!-- Household Products -->

   <div class="text-center mt-3" *ngIf="houseHolds.length >3">
     <a href="shop-grid.html" class="btn btn-light border rounded-pill bold text-muted">View More</a>
   </div>

</div>
<!-- /Main Content -->

<!-- Quick view modal -->
 <div class="modal fade" tabindex="-1" role="dialog" id="quickviewModal">
  <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
        <div class="modal-body">
           <p>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </p>
           <div class="row">
              <div class="col-lg-6">
                 <div class="swiper-container" id="quickview-slider">
                    <div class="swiper-wrapper">
                       <img src="assets/img/products/1_medium.jpg" data-large="assets/img/products/1_large.jpg" alt="Product" class="swiper-slide">
                       <img src="assets/img/products/1_medium_yellow.jpg" data-large="assets/img/products/1_large_yellow.jpg" alt="Product" class="swiper-slide">
                       <img src="assets/img/products/1_medium_red.jpg" data-large="assets/img/products/1_large_red.jpg" alt="Product" class="swiper-slide">
                    </div>
                    <button class="wishlist atw-demo active" title="Added to wishlist"><i class="fa fa-heart" aria-hidden="true"></i></button>
                 </div>
              </div>
              <div class="col-lg-6 mt-3 mt-lg-0">
                 <h3 class="card-title">Hanes Men's Pullover EcoSmart Fleece Hooded Sweatshirt</h3>
                 <h6><span class="rating" data-value="4.5"></span> <a href="javascript:void(0)">2 reviews</a></h6>
                 <h3 class="price">
                    <span class="del">$140.00</span>
                    <span >$120.00</span>
                 </h3>
                 <form>
                    <div class="form-group">
                       <label class="bold d-block">Brand</label>
                       <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                          <label class="btn btn-outline-info active">
                          <input type="radio" name="size" checked>BB COMBO
                          </label>
                       </div>
                    </div>
                    <div class="form-row">
                       <div class="form-group col-6">
                          <label class="bold">Quantity</label>
                          <div class="w-100 spinner">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="minus"></i></button>
                             <input type="number" class="form-control" value="1" min="1" max="999">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="plus"></i></button>
                          </div>
                       </div>
                       <div class="form-group col-6 d-flex align-items-end">
                          <button type="button" class="btn btn-primary btn-block rounded-pill atc-demo" data-title="Hanes Men's Pullover EcoSmart Fleece Hooded Sweatshirt">Add to Cart</button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<!-- /Quick view modal -->