 <!-- Main Content -->
 <div class="container my-3">
    <div class="card">
       <div class="card-body">
          <!-- About Us -->
          <div class="row">
             <div class="col-md-6 mb-3 mb-md-0">
                <img src="assets/img/about-us/about-us.jpg" alt="About Us" class="w-100">
             </div>
             <div class="col-md-6">
                <h2 class="bold">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate explicabo saepe inventore quisquam adipisci maxime vitae hic, magni error praesentium eaque laborum pariatur omnis illo, voluptatem, nam dicta sunt dolore!</p>
                <p>Quod quam est illo provident animi amet a reprehenderit quidem quo voluptates! Voluptatibus quas blanditiis molestiae placeat eligendi maxime itaque, ipsum, reiciendis!</p>
             </div>
          </div>
          <!-- /About Us -->
          <hr class="my-5">
          <!-- Our Purpose -->
          <div class="row">
             <div class="col-md-6 mb-3 mb-md-0 order-md-2">
                <img src="assets/img/about-us/our-purpose.jpg" alt="Our Purpose" class="w-100">
             </div>
             <div class="col-md-6 order-md-1">
                <h2 class="bold">Our Purpose</h2>
                <p>Quod quam est illo provident animi amet a reprehenderit quidem quo voluptates! Voluptatibus quas blanditiis molestiae placeat eligendi maxime itaque, ipsum, reiciendis!</p>
                <ul>
                   <li>Lorem ipsum dolor sit amet</li>
                   <li>Consectetur adipiscing elit</li>
                   <li>Integer molestie lorem at massa</li>
                   <li>Facilisis in pretium nisl aliquet</li>
                   <li>Nulla volutpat aliquam velit</li>
                </ul>
             </div>
          </div>
          <!-- /Our Purpose -->
       </div>
    </div>
 </div>
 <!-- /Main Content -->