    <!-- Main Content -->
    <div class="container my-3">
      <div class="row">

        <div class="col-md-4 col-lg-3">
          <app-sidebar-menu></app-sidebar-menu>
        </div>

        <div class="col mt-3 mt-md-0">
          <div class="card">
            <div class="card-body">
              <h3>ORD556789</h3><hr>

              <ul class="nav nav-pills main-nav-pills" role="tablist">
                <li class="nav-item">
                  <a class="nav-link text-success" href="javascript:void(0)"><i data-feather="refresh-cw"></i> PROCESSING</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="javascript:void(0)"><i data-feather="arrow-right"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-success" href="javascript:void(0)"><i data-feather="send"></i> SENDING</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="javascript:void(0)"><i data-feather="arrow-right"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="javascript:void(0)"><i data-feather="gift"></i> DELIVERED</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="javascript:void(0)"><i data-feather="arrow-right"></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-muted" href="javascript:void(0)"><i data-feather="check-circle"></i> FINISHED</a>
                </li>
              </ul><hr>

              <table class="table table-borderless table-sm table-cart">
                <tbody>
                  <tr>
                    <td class="cart-img nostretch">
                      <a href="shop-single.html"><img src="assets/img/products/1_small.jpg" alt="Hanes Hooded Sweatshirt"></a>
                    </td>
                    <td class="cart-title">
                      <a href="shop-single.html" class="h6 bold d-inline-block" title="Hanes Hooded Sweatshirt">Frozen - Mixed Vegetables</a>
                           <span class="badge badge-success">500 gm Pouch</span>
                           <small class="ml-3"><b>Brand</b>: Safal</small>
                    </td>
                    <td class="cart-qty nostretch text-center">Qty: 1</td>
                    <td class="cart-price text-right"><span class="roboto-condensed bold">Rs 54</span></td>
                  </tr>

                  <tr>
                    <td class="cart-img nostretch">
                      <a href="shop-single.html"><img src="assets/img/products/2_small.jpg" alt="The Flash Logo T-Shirt"></a>
                    </td>
                    <td class="cart-title">
                     <a href="shop-single.html" class="h6 bold d-inline-block" title="The Flash Logo T-Shirt">Green Peas - Select</a>
                           <span class="badge badge-success">5 kg Pouch</span>
                           <small class="ml-3"><b>Brand</b>: Safal</small>
                    </td>
                    <td class="cart-qty nostretch text-center">Qty: 1</td>
                    <td class="cart-price text-right"><span class="roboto-condensed bold">Rs 600</span></td>
                  </tr>

                  <tr>
                    <td class="cart-img nostretch">
                      <a href="shop-single.html"><img src="assets/img/products/3_small.jpg" alt="Cotton Fleece Long Hoodie"></a>
                    </td>
                    <td class="cart-title">
                     <a href="shop-single.html" class="h6 bold d-inline-block" title="Open Front Cropped Cardigans">Frozen Natures Gold - Sweet Corn</a>
                           <span class="badge badge-success">200 gm</span>
                           <small class="ml-3"><b>Brand</b>: Bangur</small>
                    </td>
                    <td class="cart-qty nostretch text-center">Qty: 1</td>
                    <td class="cart-price text-right"><span class="roboto-condensed bold">RS 36</span></td>
                  </tr>

                  <tr>
                    <td class="cart-img nostretch">
                      <a href="shop-single.html"><img src="assets/img/products/4_small.jpg" alt="Cotton Fleece Long Hoodie"></a>
                    </td>
                    <td class="cart-title">
                      <a href="shop-single.html" class="h6 bold d-inline-block" title="Cotton Fleece Long Hoodie">Green Peas</a>
                           <span class="badge badge-success">1 kg</span>
                           <small class="ml-3"><b>Brand</b>: Sumeru</small>
                    </td>
                    <td class="cart-qty nostretch text-center">Qty: 1</td>
                    <td class="cart-price text-right"><span class="roboto-condensed bold">Rs 228</span></td>
                  </tr>
                </tbody>
              </table>
              <div class="text-right">
                <table class="table table-borderless table-sm mb-5">
                    <tbody>
                      <tr>
                        <td>Subtotal</td>
                        <td style="width:150px" class="roboto-condensed bold">Rs 908</td>
                      </tr>
                      <tr>
                        <td>Shipping Method</td>
                        <td>Express <span class="roboto-condensed bold">(Rs 20)</span></td>
                      </tr>
                      <tr>
                        <td class="bold">TOTAL</td>
                        <td class="roboto-condensed bold text-success h5">Rs 928</td>
                      </tr>
                    </tbody>
                  </table>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <h5 class="bold"><u>Shipping Address :</u></h5>
                  <strong>Arnab Mahapatra</strong><br/>
                  jistechnologies16@gmail.com<br/>
                  +91-7686064833<br/>
                  Keshtopur<br/>
                  Kolkata<br/>
                  700009
                </div>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <a href="account-orders.html" class="btn btn-outline-primary btn-sm rounded-pill"><i data-feather="arrow-left"></i> Back</a>
                <button type="button" class="btn btn-primary btn-sm rounded-pill"><i data-feather="printer"></i> Print</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /Main Content -->