      <!-- Main Content -->
      <div class="container my-3">
        <div class="card">
           <div class="card-header bg-white border-bottom flex-center p-0">
              <ul class="nav nav-pills card-header-pills main-nav-pills" role="tablist">
                 <li class="nav-item">
                    <a class="nav-link active" href="cart.html">CART</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0)"><i data-feather="arrow-right"></i></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="shipping.html">SHIPPING</a>
                 </li>
                <!--  <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0)"><i data-feather="arrow-right"></i></a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="payment.html">PAYMENT</a>
                 </li> -->
              </ul>
           </div>
           <div class="card-body px-1 px-md-5 pt-5">
              <table class="table table-borderless table-cart" data-addclass-on-smdown="table-sm">
                 <tbody>
                    <tr>
                       <td class="cart-img nostretch">
                          <a href="shop-single.html"><img src="assets/img/products/1_small.jpg" alt="Hanes Hooded Sweatshirt"></a>
                       </td>
                       <td class="cart-title">
                          <a href="shop-single.html" class="h6 bold d-inline-block" title="Hanes Hooded Sweatshirt">Frozen - Mixed Vegetables</a>
                          <span class="badge badge-success">500 gm Pouch</span>
                          <small class="ml-3"><b>Brand</b>: Safal</small>
                       </td>
                       <td class="cart-qty nostretch text-center">
                          <div class="spinner" data-addclass-on-smdown="spinner-sm">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="minus"></i></button>
                             <input type="number" class="form-control" value="1" min="1" max="999">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="plus"></i></button>
                          </div>
                       </td>
                       <td class="cart-price text-right">
                          <span class="roboto-condensed bold">Rs 54</span>
                       </td>
                       <td class="cart-action nostretch pr-0">
                          <div class="dropdown">
                             <a href="#" class="nav-icon text-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i data-feather="more-vertical"></i>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i data-feather="heart"></i> Move to wishlist</button>
                                <button class="dropdown-item text-danger" type="button"><i data-feather="x"></i> Remove item</button>
                             </div>
                          </div>
                       </td>
                    </tr>
                    <tr>
                       <td class="cart-img nostretch">
                          <a href="shop-single.html"><img src="assets/img/products/2_small.jpg" alt="The Flash Logo T-Shirt"></a>
                       </td>
                       <td class="cart-title">
                          <a href="shop-single.html" class="h6 bold d-inline-block" title="The Flash Logo T-Shirt">Green Peas - Select</a>
                          <span class="badge badge-success">5 kg Pouch</span>
                          <small class="ml-3"><b>Brand</b>: Safal</small>
                       </td>
                       <td class="cart-qty nostretch text-center">
                          <div class="spinner" data-addclass-on-smdown="spinner-sm">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="minus"></i></button>
                             <input type="number" class="form-control" value="1" min="1" max="999">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="plus"></i></button>
                          </div>
                       </td>
                       <td class="cart-price text-right">
                          <span class="roboto-condensed bold">Rs 600</span>
                       </td>
                       <td class="cart-action nostretch pr-0">
                          <div class="dropdown">
                             <a href="#" class="nav-icon text-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i data-feather="more-vertical"></i>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i data-feather="heart"></i> Move to wishlist</button>
                                <button class="dropdown-item text-danger" type="button"><i data-feather="x"></i> Remove item</button>
                             </div>
                          </div>
                       </td>
                    </tr>
                    <tr>
                       <td class="cart-img nostretch">
                          <a href="shop-single.html"><img src="assets/img/products/3_small.jpg" alt="Open Front Cropped Cardigans"></a>
                       </td>
                       <td class="cart-title">
                          <a href="shop-single.html" class="h6 bold d-inline-block" title="Open Front Cropped Cardigans">Frozen Natures Gold - Sweet Corn</a>
                          <span class="badge badge-success">200 gm</span>
                          <small class="ml-3"><b>Brand</b>: Bangur</small>
                       </td>
                       <td class="cart-qty nostretch text-center">
                          <div class="spinner" data-addclass-on-smdown="spinner-sm">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="minus"></i></button>
                             <input type="number" class="form-control" value="1" min="1" max="999">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="plus"></i></button>
                          </div>
                       </td>
                       <td class="cart-price text-right">
                          <span class="roboto-condensed bold">RS 36</span>
                       </td>
                       <td class="cart-action nostretch pr-0">
                          <div class="dropdown">
                             <a href="#" class="nav-icon text-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i data-feather="more-vertical"></i>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i data-feather="heart"></i> Move to wishlist</button>
                                <button class="dropdown-item text-danger" type="button"><i data-feather="x"></i> Remove item</button>
                             </div>
                          </div>
                       </td>
                    </tr>
                    <tr>
                       <td class="cart-img nostretch">
                          <a href="shop-single.html"><img src="assets/img/products/4_small.jpg" alt="Cotton Fleece Long Hoodie"></a>
                       </td>
                       <td class="cart-title">
                          <a href="shop-single.html" class="h6 bold d-inline-block" title="Cotton Fleece Long Hoodie">Green Peas</a>
                          <span class="badge badge-success">1 kg</span>
                          <small class="ml-3"><b>Brand</b>: Sumeru</small>
                       </td>
                       <td class="cart-qty nostretch text-center">
                          <div class="spinner" data-addclass-on-smdown="spinner-sm">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="minus"></i></button>
                             <input type="number" class="form-control" value="1" min="1" max="999">
                             <button type="button" class="btn btn-icon rounded-circle"><i data-feather="plus"></i></button>
                          </div>
                       </td>
                       <td class="cart-price text-right">
                          <span class="roboto-condensed bold">Rs 228</span>
                       </td>
                       <td class="cart-action nostretch pr-0">
                          <div class="dropdown">
                             <a href="#" class="nav-icon text-secondary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <i data-feather="more-vertical"></i>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button"><i data-feather="heart"></i> Move to wishlist</button>
                                <button class="dropdown-item text-danger" type="button"><i data-feather="x"></i> Remove item</button>
                             </div>
                          </div>
                       </td>
                    </tr>
                 </tbody>
              </table>
              <div class="text-center">
                 <small class="counter">SUBTOTAL</small>
                 <h3 class="roboto-condensed bold">Rs 908</h3>
                 <a href="shipping.html" class="btn btn-primary rounded-pill btn-lg">Shipping <i data-feather="arrow-right"></i></a>
              </div>
           </div>
        </div>
     </div>
     <!-- /Main Content -->